<!-- Sidebar Component -->
<section id="sidebar">
    <div class="sidebar-header">
        <a href="#" class="brand">
            <img src="../../img/cvsu-logo.png" alt="CVSU logo">
            <span class="text">
                <span class="brand-title">ODCI Document Hub</span>
                <span class="brand-subtitle">CVSU Naic</span>
            </span>
        </a>
        <button class="cvsu-drawer-back" type="button" aria-label="Back to page">
            <i class="bx bx-arrow-back" aria-hidden="true"></i>
        </button>
    </div>

    <ul class="side-menu top">
        <li>
            <a href="dashboard.php" class="ajax-link" data-title="Dashboard">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
            <div class="tooltip">Dashboard</div>
        </li>
        <li>
            <a href="social-feed.php" class="ajax-link" data-title="Social Feed">
                <i class='bx bx-news'></i>
                <span class="text">Social Feed</span>
            </a>
            <div class="tooltip">Social Feed</div>
        </li>
        <li>
            <a href="document-tracker.php" class="ajax-link" data-title="Document Tracker">
                <i class='bx bxs-file-find'></i>
                <span class="text">Document Tracker</span>
            </a>
            <div class="tooltip">Document Tracker</div>
        </li>
        <li>
            <a href="view-faculty-staff.php" class="ajax-link" data-title="View Faculty Staff">
                <i class='bx bxs-group'></i>
                <span class="text">View Faculty Staff</span>
            </a>
            <div class="tooltip">View Faculty Staff</div>
        </li>
        <li>
            <a href="files.php" class="ajax-link" data-title="All Files">
                <i class='bx bxs-file'></i>
                <span class="text">All Files</span>
            </a>
            <div class="tooltip">All Files</div>
        </li>
        <li>
            <a href="folders.php" class="ajax-link" data-title="All Folders">
                <i class='bx bxs-folder'></i>
                <span class="text">All Folders</span>
            </a>
            <div class="tooltip">All Folders</div>
        </li>
        <li class="menu-divider" aria-hidden="true"></li>
        
        <li>
            <a href="profile.php" class="ajax-link" data-title="Settings">
                <i class='bx bxs-cog'></i>
                <span class="text">Settings</span>
            </a>
            <div class="tooltip">Settings</div>
        </li>
        <li class="logout-item">
            <a href="../../logout.php" class="logout ajax-link" data-title="Logout">
                <i class='bx bx-log-out'></i>
                <span class="text">Logout</span>
            </a>
            <div class="tooltip">Logout</div>
        </li>
    </ul>
</section>

