<!-- Sidebar Component -->
<section id="sidebar">
    <div class="sidebar-header">
        <a href="#" class="brand">
            <img src="../../img/cvsu-logo.png" alt="CVSU logo">
            <span class="text">
                <span class="brand-title">ODCI Document Hub</span>
                <span class="brand-subtitle">CVSU Naic</span>
            </span>
        </a>
        <button class="cvsu-drawer-back" type="button" aria-label="Back to page">
            <i class="bx bx-arrow-back" aria-hidden="true"></i>
        </button>
    </div>

    <ul class="side-menu top">
        <li>
            <a href="dashboard.php" class="ajax-link" data-title="Dashboard">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
            <div class="tooltip">Dashboard</div>
        </li>
        <li>
            <a href="users.php" class="ajax-link" data-title="Users">
                <i class='bx bxs-group'></i>
                <span class="text">Users</span>
            </a>
            <div class="tooltip">Users</div>
        </li>
        <li>
            <a href="departments.php" class="ajax-link" data-title="Departments">
                <i class='bx bxs-buildings'></i>
                <span class="text">Departments</span>
            </a>
            <div class="tooltip">Departments</div>
        </li>
        <li>
            <a href="document-tracker.php" class="ajax-link" data-title="Document Tracker">
                <i class='bx bxs-file-find'></i>
                <span class="text">Document Tracker</span>
            </a>
            <div class="tooltip">Document Tracker</div>
        </li>
        <li>
            <a href="files.php" class="ajax-link" data-title="Files">
                <i class='bx bxs-file'></i>
                <span class="text">Files</span>
            </a>
            <div class="tooltip">Files</div>
        </li>
        <li>
            <a href="folders.php" class="ajax-link" data-title="Folders">
                <i class='bx bxs-folder'></i>
                <span class="text">Folders</span>
            </a>
            <div class="tooltip">Folders</div>
        </li>
        <li>
            <a href="social_feed.php" class="ajax-link" data-title="Social Feed">
                <i class='bx bx-news'></i>
                <span class="text">Social Feed</span>
            </a>
            <div class="tooltip">Social Feed</div>
        </li>
        <li>
            <a href="reports.php" class="ajax-link" data-title="Reports">
                <i class='bx bxs-report'></i>
                <span class="text">Reports</span>
            </a>
            <div class="tooltip">Reports</div>
        </li>

        <li class="menu-divider" aria-hidden="true"></li>

        <li>
            <a href="settings.php" class="ajax-link" data-title="System Settings">
                <i class='bx bxs-cog'></i>
                <span class="text">System Settings</span>
            </a>
            <div class="tooltip">System Settings</div>
        </li>
        <li>
            <a href="activity_logs.php" class="ajax-link" data-title="Activity Logs">
                <i class='bx bxs-time'></i>
                <span class="text">Activity Logs</span>
            </a>
            <div class="tooltip">Activity Logs</div>
        </li>
        <li class="logout-item">
            <a href="../../logout.php" class="logout ajax-link" data-title="Logout">
                <i class='bx bx-log-out'></i>
                <span class="text">Logout</span>
            </a>
            <div class="tooltip">Logout</div>
        </li>
    </ul>
</section>